*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.active{
    border-bottom: 5px solid rgb(244, 4, 4);
}
.nav{
    background-color: rgb(255, 255, 255, 0.9);
    height: 15vh;
    padding: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}
.side{
    display: flex;
    align-items: center;
}
.nav img{
    height: 50px;
    width: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li a{
    padding: 30px 15px;
}
.nav ul li a:hover{
    border-bottom: solid 5px rgb(244, 4, 4);
}
#header{
    height: 70vh;
    background: url(./images/melissa-walker-horn-vACInYhNjY0-unsplash.jpg) no-repeat center center/cover;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 70vh;
    padding: 30px;
}
.front h1{
    font-size: 3rem;
}
.about{
    display: flex;
}
.about-us{
    padding: 20px;
}
.about-dine{
    padding: 20px;
}
.about-us h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-dine h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.achievements{
    width: 100vw;
    padding: 20px;
}
/* .container{
    width: 900px;
    margin: 0 auto;
} */
.container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container ul li{
    text-align: center;
    margin-bottom: 10px;
    /* margin: 0 auto; */
}
.container h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.photos{
    margin: 30px 0;
}
.line{
    display: flex;
    flex-direction: column;
}
.l1-pic1{
    height: 200px;
    width: 300px;
    background: url(./images/adam-jaime-dmkmrNptMpw-unsplash.jpg) no-repeat center center/ cover;
    margin: 10px auto;
}
.l1-pic2{
    height: 200px;
    width: 300px;
    background: url(./images/alex-munsell-Yr4n8O_3UPc-unsplash.jpg) no-repeat center center/ cover;
    margin: 10px auto;
}
.l1-pic3{
    display: none;
}
.l2-pic1{
    display: none;
}
.l2-pic2{
    display: none;
}
.l3-pic1{
    height: 200px;
    width: 300px;
    background: url(./images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg) no-repeat center center/ cover;
    margin: 10px auto;
}
.l3-pic2{
    height: 200px;
    width: 300px;
    background: url(./images/lidye-1Shk_PkNkNw-unsplash.jpg) no-repeat center center/ cover;
    margin: 10px auto;
}
.l3-pic3{
    display: none;
}
.footer{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center;
    color: #fff;
    padding: 30px;
}
.footer ul{
    display: flex;
}
.footer ul li a{
    color: #fff;
    padding: 0 30px;
    border-right: #f4f4f4 solid 1px;
}
.navbar{
    display: none;
}