*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.nav{
    display: none;
}
.navbar{
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    width: 100vw;
}
.navbar img{
    height: 40px;
    width: 40px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navbar ul{
    padding: 15px;
}
.navbar ul li {
    margin-bottom: 15px;
}
.active{
    color:rgb(244, 4, 4);
}
#header{
    height: 70vh;
    background: url(./images/melissa-walker-horn-vACInYhNjY0-unsplash.jpg) no-repeat center center/cover;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 70vh;
    padding: 10px;
}
.front h1{
    font-size: 3rem;
}
.about{
    display: flex;
    flex-direction: column;
}
.about-us{
    padding: 10px;
}
.about-dine{
    padding: 10px;
}
.about-us h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.about-dine h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.achievements{
    padding: 20px;
}
.container ul{
    display: flex;
    flex-direction: column;
}
.container ul li{
    text-align: center;
    /* margin-right: 100px; */
    margin: 10px auto;
}
.container h2{
    font-size: 2rem;
    margin-bottom: 5px;
}
.photos{
    margin: 5px 0;
}
.line{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.l1-pic1{
    height: 100px;
    width: 200px;
    background: url(./images/adam-jaime-dmkmrNptMpw-unsplash.jpg) no-repeat center center/ cover;
    margin: 5px auto;
}
.l1-pic2{
    height: 100px;
    width: 200px;
    background: url(./images/alex-munsell-Yr4n8O_3UPc-unsplash.jpg) no-repeat center center/ cover;
    margin: 5px auto;
}
.l1-pic3{
    height: 100px;
    width: 200px;
    background: url(./images/brooke-lark-HlNcigvUi4Q-unsplash.jpg) no-repeat center center/ cover;
    margin: 5px auto;
}
.l2-pic1{
    height: 100px;
    width: 200px;
    background: url(./images/brooke-lark-jUPOXXRNdcA-unsplash.jpg) no-repeat center center/ cover;
    margin: 5px auto;
}
.l2-pic2{
    height: 100px;
    width: 200px;
    background: url(./images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg) no-repeat center center/ cover;
    margin: 5px auto;
}
.footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
    padding-bottom: 80px;
}
.footer ul{
    display: flex;
    flex-direction: column;
}
.footer ul li{
    border-bottom: #f4f4f4 solid 1px;
    padding: 10px 10px;
}
.footer ul li a{
    color: #fff;
}