*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.nav{
    display: none;
}
.navbar{
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.navbar ul{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90vw;
    padding: 20px 20px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
}
.active{
    color:rgb(244, 4, 4);
}
#header{
    height: 70vh;
    background: url(./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center center/cover;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 70vh;
    padding: 30px;
    background-color: rgba(0,0,0,0.7);
}
.front h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.locations{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
}
.location{
    flex: 1;
    margin: 10px;
    padding: 10px 40px;
    background-color: rgb(251, 187, 187);
    border-bottom: 5px solid rgb(244, 4, 4);
}
.footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
    padding-bottom: 80px;
}
.footer ul{
    display: flex;
    flex-direction: column;
}
.footer ul li{
    border-bottom: #f4f4f4 solid 1px;
    padding: 10px 10px;
}
.footer ul li a{
    color: #fff;
}