*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.active{
    border-bottom: 5px solid rgb(244, 4, 4);
}
.nav{
    background-color: rgb(255, 255, 255, 0.9);
    height: 15vh;
    padding: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}
.side{
    display: flex;
    align-items: center;
}
.nav img{
    height: 50px;
    width: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li a{
    padding: 30px 15px;
}
.nav ul li a:hover{
    border-bottom: solid 5px rgb(244, 4, 4);
}
.red{
    color:rgb(244, 4, 4);
    margin-top: 10px;
}
#header{
    height: 70vh;
    background: url(./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center center/cover;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 70vh;
    padding: 30px;
    background-color: rgba(0,0,0,0.7);
}
.front h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.locations{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
}
.location{
    flex: 1;
    margin: 10px;
    padding: 20px 60px;
    background-color: rgb(251, 187, 187);
    border-bottom: 5px solid rgb(244, 4, 4);
}
.footer{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center;
    color: #fff;
    padding: 30px;
}
.footer ul{
    display: flex;
}
.footer ul li a{
    color: #fff;
    padding: 0 30px;
    border-right: #f4f4f4 solid 1px;
}
.navbar{
    display: none;
}