*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.active{
    border-bottom: 5px solid rgb(244, 4, 4);
}
.nav{
    background-color: rgb(255, 255, 255, 0.9);
    height: 15vh;
    padding: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}
.side{
    display: flex;
    align-items: center;
}
.nav img{
    height: 50px;
    width: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li a{
    padding: 25px 15px;
}
.nav ul li a:hover{
    border-bottom: solid 5px rgb(244, 4, 4);
}
.navbar{
    display: none;
}
#header{
    height: 70vh;
    background: url(./images/emy-XoByiBymX20-unsplash.jpg) no-repeat center center/cover;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 70vh;
    padding: 30px;
}
.front h1{
    font-size: 5rem;
}
.reviews{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.review{
    background-color: #333;
    display: flex;
    width: 600px;
    margin: 10px auto;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    color: #fff;
}
.review img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;
}
.footer{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 30px;
}
.footer ul{
    display: flex;
}
.footer ul li a{
    color: #fff;
    padding: 0 30px;
    border-right: #f4f4f4 solid 1px;
}