*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.primary-btn{
    background-color: rgb(244, 4, 4);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.thin{
    font-weight: 100;
}
.active{
    border-bottom: 5px solid rgb(244, 4, 4);
}
.navbar{
    display: none;
}
.nav{
    background-color: rgb(255, 255, 255, 0.9);
    height: 15vh;
    padding: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}
.side{
    display: flex;
    align-items: center;
}
.nav img{
    height: 50px;
    width: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li a{
    padding: 30px 15px;
}
.nav ul li a:hover{
    border-bottom: solid 5px rgb(244, 4, 4);
}
#header{
    height: 100vh;
    background: url(./images/brooke-lark-M4E7X3z80PQ-unsplash.jpg) no-repeat center center/ cover;
    background-attachment: fixed;
}
.front{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: center; */
    color: #fff;
    padding: 0 10px;
    padding-bottom: 30px;
}
.front h1{
    font-size: 3rem;
    margin: 10px 0;
    margin-top: 0;
}
.front button{
    width: 150px;
}
.intro{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.intro-img{
    flex: 1;
}
.intro-about{
    flex: 1;
    padding: 20px 10px;
}
.intro-about p{
    text-align: justify;
    margin-right: 20px;
}
.intro-img img{
    height: 420px;
    width: 550px;
    margin-left: 50px;
}
.intro-about h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.tagline{
    background-color: rgb(251, 187, 187);
    padding: 20px;
    margin-top: 20px;
    font-family: allura, cursive;
    font-size: 2rem;
    border-right: 5px solid rgb(244, 4, 4);
}
.team-img{
    height: 80vh;
    background: url(./images/pylyp-sukhenko-y-XZf_TNRms-unsplash.jpg) no-repeat center center/ cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
    color: #fff;
}
.team-img h2{
    font-size: 5rem;
}
.team-img p{
    font-size: 2rem;
}
.chefs{
    display: flex;
}
.chef-name{
    flex: 1;
    margin: 30px;
    padding: 20px;
    background-color: rgb(251, 187, 187);
    border-bottom: 5px solid rgb(244, 4, 4);
}
.chef-name h2, h3{
    margin-bottom: 10px;
}
.footer{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    align-items: center;
    color: #fff;
    padding: 30px;
}
.footer ul{
    display: flex;
}
.footer ul li a{
    color: #fff;
    padding: 0 30px;
    border-right: #f4f4f4 solid 1px;
}